/* 改变主题色变量 */
$--color-primary: $primary-color;

$--color-success: $success-color;
$--color-warning: $warning-color;
$--color-danger: $error-color;
$--color-info: $text-color-secondary;

$--color-text-primary: $text-color;
$--color-text-regular: $text-color-regular;
$--color-text-secondary: $text-color-secondary;
$--color-text-placeholder: $disabled-color;

$--background-color-base: $important-bg;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";