$global_img_url:"https://img1.km.com/bookimg/free/vue/v1";

$first_color: #333;
$second_color: #666;
$third_color: #999;

$orange_color: #FF9744;
$orange_press_color: #ffac6b;
$orange_active_color: #ffac6b;

$body_bg_color: #f5f5f5;

$border_color: #ebebeb;

$spacing_num: 24px;
$half_spacing_num: 12px;

%set_padding{
  padding-left: $spacing_num;
  padding-right: $spacing_num;
}

%set_borderRadius{
    border-radius: 8px;
}

// 层级列表
$wrapper_main_index: 100;
$empty_index: 150;
$header_footer_index: 200;
$rightScroll_idnex: 300;
$pop_index: 1000;
$toast_index: 1100;
$guide_index: 1200;
$fixed_index: 250;

%cf,%clearfix {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
