.km-btn{
	color: $first_color;
	background: #fff;
	display: block;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	border-radius: 8px;
	&.orange{
		background: $orange_color;
		color: #fff;
		&:active{
			background: $orange_active_color;
		}
	}
	&[large]{
		height: 96px;
	    line-height: 96px;
	    font-size: 32px;
	}
	&[large80]{
		height: 80px;
	    line-height: 80px;
	    font-size: 32px;
	}
	&[medium]{
		height: 64px;
	    line-height: 64px;
	    font-size: 28px;
	}
	&[small]{
		height: 52px;
	    line-height: 52px;
	    font-size: 24px;
	}
	&[disabled]{
		background: $border_color;
		color: $third_color;
	}
}

.km-bottom-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 96px;
	overflow: hidden;
	z-index: $fixed_index + 10;
	.km-bottom-btn-list{
		display: flex;
		.km-btn{
			flex: 1;
			width: 50%;
			border-radius: 0;
			@include border1px(top,$border_color,before);
			display: flex;
			@include flexboxColumn();
			box-pack: center;
			justify-content: center;
			article{
				display: block;
			}
			span{
				display: block;
				overflow: hidden;
				&.s-price{
					line-height: 44px;
					height: 44px;
					color: #fff;
					font-size: 32px;
					vertical-align: top;
					font-weight: bold;
					
				}
				&.s-tips{
					opacity: 0.6;
					color: #fff;
					font-size: 20px;
					line-height: 28px;
					height: 28px;
				}
			}
			em{
				&.line-through{
					text-decoration: line-through;
				}
				&.tips{
					display: inline-block;
					font-size: 22px;
					color: $orange_color;
					line-height: 38px;
					height: 38px;
					padding: 0 15px;
					margin-right: 5px;
					vertical-align: middle;
					margin-top: -5px;
					@include border1px-full(before,$orange_color, 6px);
				}
			}
			&.orange{
				&:before{
					display: none;
				}
			}
		}
		.experience-btn{
			span{
				display: block;
				&.s-tit{
					line-height: 60px;
				}
				&.s-des{
					line-height: 36px;
				}
			}
		}
	}
	&-space{
		height: 94px;
		display: block;
		width: 100%;
	}
}