.km-scroll{
    overflow: hidden;
    position: relative;
    &.padding{
        padding: 20px 0;
    }
    &-con{
        overflow: hidden;
        &.h500{
            max-height: 500px;
        }
        &.x{
            width: 100%;
        }
        &.y{
            height: 100%;
        }
    }
}