$space: 10px;                                 // 全站默认间距

$body-bg: #f5f5f5;                          // 全站背景色
$important-color: #ffaa00;
$important-second-color: #ffaa00;
$important-bg: #fafafa;                     
$environment-color: #f5222d;         // 环境提示文案颜色
$border-color-base: #dcdfe6;        // 边框色
$red: red;
$green: green;

/*文字颜色*/
$first-color: #222;
$second-color: #666;
$third-color: #999;
$fourth-color: #bbb;

$min-width: 1000px;

$aside-index: 900;
$header-index: 1000;
$footerer-index: 1000;

// header
$header-height: 48px;                         // header高度
$header-bg: #474342;                        // header背景色
$header-tabs-color: #fff;                   // tab文字背景色
$header-tabs-cur-color: #fff;               // 选中tab文字背景色
$header-tabs-cur-bg: rgba(255,255,255,0.1); // 选中tab背景色

//aside
$aside-bg: #fff;                            // 左侧栏背景色
$aside-right-border-color: #e8e8e8;         // 边框颜色
$aside-padding: 24px;                         // 缩紧间距


%cf,%clearfix {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
