$qmWidthArr: (60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 220 240 260 280 300 320 340 360 400 420 480);

.wrapper {

    .el-form{
        .el-form-item{
            margin: 0 $space $space 0;
        }
    }

    .el-tag + .el-tag {
        margin-left: $space;
    }
    .button-new-tag {
        margin-left: $space;
        height: 32px;
        line-height: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .el-input {
        @for $i from 1 through length($qmWidthArr){
            &-#{nth($qmWidthArr, $i)}{
                width: #{nth($qmWidthArr, $i)}px;
            }
        }
        &-p30 {
            width: 30%;
        }
        &-p40 {
            width: 40%;
        }
        &-p50 {
            width: 50%;
        }
        &-p60 {
            width: 60%;
        }
        &-p70 {
            width: 70%;
        }
        .el-input__inner {
            padding: 0 5px;
        }
    }
    .el-select {
        @for $i from 1 through length($qmWidthArr){
            &-#{nth($qmWidthArr, $i)}{
                width: #{nth($qmWidthArr, $i)}px;
            }
        }
        &-auto{
            width: 100%;
            display: block;
        }
    }
    .el-date-editor {
        .el-input__inner {
            padding-left: 30px;
        }
    }
    .el-textarea {
        .el-textarea__inner {
            padding: 0 5px;
        }

        .el-select {
            &-200 {
                width: 200px;
            }
            &-240 {
                width: 240px;
            }
        }
        .el-date-editor {
            .el-input__inner {
                padding-left: 30px;
            }

        }
        // .el-input--prefix,.el-input--suffix{
        //     .el-input__inner{

        //     }
        // }
    }
    .el-checkbox-group{
        &.btn-style{
            @extend %cf;
            .el-checkbox-button{
                float: left;
                margin: $space $space 0 0;
                display: inline;
                .el-checkbox-button__inner{
                    border: 1px solid $border-color-base;
                    border-radius: 32px;
                }
                &.is-checked{
                    .el-checkbox-button__inner{
                        border-color: $important-color;
                    }
                }
            }
        }
    }
    .el-form {
        @extend %cf;
        .el-form-item__label {
            color: $first_color;
            padding-right: $space;
        }
        .el-form-item--mini.el-form-item {
            margin-bottom: $space;
            .line {
                text-align: center;
            }
            &.mb0{
                margin-bottom: 0;
            }
        }
        .el-date-editor.el-date-editor--month {
            width: 110px;
        }
        .el-form-item.right {
            float: right;
            margin-right: 0;
        }
        .p-tips {
            color: $red;
            display: inline-block;
            line-height: 29px;
            padding-bottom: $space;
        }
    }

    .el-pagination {
        text-align: center;
        padding: $space 0;
    }

    .el-radio {
        margin-right: 0;
        .el-radio__label {
            font-size: 12px;
            padding-left: 5px;
        }
    }
    .el-radio + .el-radio {
        margin-left: 20px;
    }

    .el-table {
        th{
            div{
                overflow: initial;
                line-height: 24px;
                padding: 0;
                .el-select__input{
                    height: 24px;
                    width: 95% !important;
                    margin-left: 5px;
                }
            }
        }
        .cell {
            padding-left: 5px;
            padding-right: 5px;
            .el-input{
                line-height: 24px;
                padding: 0;
            }
            .el-select{
                display: block;
                width: 100%;
                padding: 0;
            }
            .el-autocomplete{
                line-height: 24px;
                display: block;
                padding: 0;
                overflow: inherit;
                input{
                    line-height: 24px;
                }
                div{
                    line-height: 24px;
                    padding: 0;
                }
            }
            .s-overflow{
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        td:first-child,th:first-child {
            .cell {
                padding-left: 5px;
            }
        }
        .upload-pic {
            display: block;
            width: 90%;
            margin: 0 auto;
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            .el-button {
                display: block;
                margin: 5px auto 0;
                width: 100%;
                box-sizing: border-box;
            }
        }
        .p-btn-list {
            text-align: center;
            a {
                color: $important-color;
                margin: 0 5px;
                display: inline-block;
                &[disabled] {
                    color: $third-color;
                    cursor: default;
                }
            }
        }
    }

    .el-date-editor.el-date-editor--daterange.el-range-editor--mini {
        width: 240px;
    }

    .el-date-editor.el-input, .el-date-editor.el-input__inner {
        width: 180px;
    }

    .el-dialog__wrapper {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
    }
    .el-dialog {
        // position: absolute;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // right: 0;
        margin: 0 auto;
    }

    .el-card {
        .el-card__body {
            padding-left: $space;
        }
    }
    .el-tree-node__content > .el-checkbox{
        margin-right: 8px;
    }

    .qm-draggable-tab{
        padding: 1px 0 10px 1px;
        width: 100%;
        box-sizing: border-box;
        @extend %clearfix;
        &:before{
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: 10px;
            left: 0;
            background: #e4e7ed;
            overflow: hidden;
        }
        .el-tabs{
            float: left;
            margin-left: -1px;
            margin-top: -1px;
            border-radius: 0px;
            .el-tabs__header{
                margin-bottom: 0px;
                .el-tabs__nav{
                    border-radius: 0px;
                }
            }
            &:first-child{
                .el-tabs__header{
                    .el-tabs__nav{
                        border-radius: 4px 0 0 0;
                    }
                }
            }
            &:last-child{
                .el-tabs__header{
                    .el-tabs__nav{
                        border-radius: 0 4px 0 0;
                    }
                }
            }
        }
    }
    .qm-draggable-radiogroup{
        padding: 1px 0 0 1px;
        .el-radio-group{
            margin: -1px 0 0 -1px;
            border-radius: 0px;
            .el-radio-button__inner{
                border-radius: 0px;
            }
            &:first-child,&:last-child{
                .el-radio-button__inner{
                    border-radius: 0px;
                }
            }
            &:first-child{
                .el-radio-button__inner{
                    border-radius: 4px 0 0 4px;
                }
            }
            &:last-child{
                .el-radio-button__inner{
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}

.el-picker-panel__shortcut{
    color: $red;
}

.el-table--scrollable-x .el-table__body-wrapper{
    z-index: 2;
}
// .el-date-table{
//     tr{
//         th,td.available{
//             &:first-child,&:last-child{
//                 color: red;
//             }
//         }
//     }
// }

.el-drawer__body {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 20px; // According to the situation
}
.aw-350 {
    width: 350px !important;
  }