html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $body-bg;
    overflow: hidden;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    height: calc(100vh - 48px);
    overflow: hidden;
    .main{
        display: block;
        flex: 1;
        width: 100%;
        padding: $space $space $space $space * 2;
        height: 100%;
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        background: $body-bg;
        .row{
            background: #fff;
            padding: $space;
            margin-bottom: $space;
            &:last-child{
                margin-bottom: 0;
            }
            &.auto{
                padding: 0;
            }
            &.flex{
                display: flex;
                background: none;
                padding: 0;
                margin: 0;
            }
            .col-a{
                flex: 1;
                display: block;
                width: 100%;
                background: #fff;
                padding: $space;
            }
            .col-b{
                display: block;
                margin-left: $space;
                width: 300px;
                padding: $space;
                background: #fff;
            }
        }
        .mt10{
            margin-top: $space;
        }
        .mr10{
            margin-right: $space;
        }
        .ml10{
            margin-left: $space;
        }
        .mb10{
            margin-bottom: $space;
        }
        .important{
            color: $important-color;
        }
        .important-second{
            color: $important-second-color;
        }
        .red{
            color: $red;
        }
        .green{
            color: $green;
        }
        .bold{
            font-weight: bold;
        }
    }
}

.qm-position-sticky{
    position: sticky;
    top: 0;
    left: 0;
}
