.qm-check-big-pic-pop{
    .el-dialog{
        max-width: 500px;
        margin: 0 auto;
        transform: translate(-50%,-50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .el-dialog__header{
        display: none;
    }
    .el-dialog__body{
        padding: 0;
    }
    .pic{
        display: block;
        width: 100%;
    }
    &.middle {
        //.el-dialog{
        //    max-width: 300px;
        //}
        .el-dialog{
            width: inherit;
            .pic {
                max-height: 600px;
                width: inherit;
            }
        }
    }
}

.qm-confirm-pop{
    .close-pop-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: $third-color;
        z-index: 20;
        cursor: pointer;
    }
    .el-textarea{
        margin: 10px 0 0 0;
        &.mt0{
            margin-top: 0;
        }
    }
    .el-dialog{
        width: 300px;
        margin: 0 auto;
    }
    .el-dialog__header{
        display: none;
    }
    .el-dialog__body{
        padding: 10px;
        & > .s-tit{
            display: block;
            font-size: 16px;
            text-align: center;
            line-height: 36px;
            &.strong{
                font-weight: bold;
            }
        }
        & > .s-des{
            color: $second-color;
            font-size: 14px;
            line-height: 24px;
            display: block;
            em{
                &.red{
                    color: red;
                } 
            }
            &.red{
                color: red;
            }
            &.center{
                text-align: center;
            }
            a{
                color: $important-color;
            }
        }
        & > .s-tit + .s-des{
            padding-top: 10px;
        }
        .data-list{
            li{
                line-height: 24px;
                display: flex;
                padding: 3px 0;
                .el-textarea,.el-input{
                    margin-top: 0;
                }
                span{
                    &.s-tit{
                        font-size: 14px;
                        width: 120px;
                        line-height: 24px;
                        text-align: left;
                        display: block;
                        &.w200{
                            width: 200px;
                        }
                    }
                    &.s-des{
                        display: block;
                        flex: 1;
                        font-size: 14px;
                        padding-top: 0;
                        line-height: 24px;
                    }
                    &.s-other{
                        display: block;
                        width: 100px;
                    }
                    &.s-right{
                        padding-left: 5px;
                        display: block;
                    }
                    &.right{
                        text-align: right;
                    }
                }
                .txt{
                    display: block;
                    flex: 1;
                }
            }
            &.pr100{
                padding-right:  100px;
            }
        }
        .p-tips{
            line-height: 20px;
            font-size: 14px;
            color: $third-color;
            padding-top: 10px;
        }
    }
    &.w500{
        .el-dialog{
            width: 500px;
        }
    }
    &.w700{
        .el-dialog{
            width: 700px;
        }
    }
    &.w800{
        .el-dialog{
            width: 800px;
        }
    }

}

// 异步提示弹窗
.async-download-tips{
    span{
        display: block;
        line-height: 30px;
        font-size: 16px;
        &.s-des{

        }
        &.s-tit{
            em{
                font-weight: 700;
                font-size: 18px;
            }
        }
        a{
            color: $important-color;
        }
    }
}
