.flex {
  display: flex;
}

.flex-start-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.safe-padding-bottom {
  padding-bottom: content(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.text-nowrap {
  white-space: nowrap;
}

view,
text,
scroll-view {
  box-sizing: border-box;
}

image {
  display: block;
}